!!!
%html
  %head{ lang: I18n.locale }
    %meta{ charset: "utf-8" }
    %title= "Izdruka"
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" #TODO: import bootstrap without CDN
  %body
    = yield
